<h1>QuestionsController#ask</h1>
<p>Find me in app/views/questions_controller/ask.html.erb</p>

<form action="/answer">
  <input id="input" type="text" name="question">
  <input id="submit" type="submit" value="Ask!">
</form>
